/*css document*/
div.main {..........}
div.main { overflow:hidden; width:960px; margin:auto;}

div.mid_content { width:100%; padding-top:88px; background:url('../img/shelf.png') 77px 0 no-repeat; }
div.mid_content h3 { width:730px; height:39px; margin-left: 80px; margin-bottom:40px; background:url('../img/h_bg.png') no-repeat; font:14px "微软雅黑",Arial, Helvetica, sans-serif; line-height:33px; text-indent:1em; color:#ffffff;}


div.content_box { margin-bottom: 40px;}
div.mid_content div.box_demo { text-align: center;}/*浮雕快在高级浏览器下的预定义*/


div.juan_v div.box_demo div {text-align: left;margin: 20px auto; width: 260px; background: url('../img/button_bg.png') -75px -140px no-repeat;overflow: hidden;}
div.juan_v div.box_demo span { color:#3ad531; margin: 0px 0px 0px 70px;}
div.juan_v div.box_demo p { color: #3ad531;margin: 25px 0px 5px 70px; font:16px "微软雅黑",Arial, Helvetica, sans-serif; font-weight:bold;}
div.juan_v div.box_demo a {display: block; text-decoration:underline; color: #130e7a;margin-bottom: 20px;}

div.yue_v div.box_demo div {text-align: left;margin: 20px auto; width: 200px; background: url('../img/button_bg.png') -75px -140px no-repeat;overflow: hidden;}
div.yue_v div.box_demo strong { font-size: 16px; font-weight: bold; color:#333;}
div.yue_v div.box_demo p { color: #3ad531;margin: 35px 0px 5px 70px; font:16px "微软雅黑",Arial, Helvetica, sans-serif; font-weight:bold;}
div.yue_v div.box_demo a {display: block; text-decoration:underline; color: #130e7a;margin: 20px 0px;}

div.yue_lose div.box_demo p { color: #666;margin: 25px 0px; font:16px "微软雅黑",Arial, Helvetica, sans-serif; font-weight:bold;}
div.yue_lose div.box_demo a {display: block; text-decoration:underline; color: #130e7a;margin-bottom: 20px;}

div.juan_lose div.box_demo p { color: #666;margin: 25px 0px; font:16px "微软雅黑",Arial, Helvetica, sans-serif; font-weight:bold;}
div.juan_lose div.box_demo a {display: block; text-decoration:underline; color: #130e7a;margin-bottom: 20px;}