/*css document*/
div.main {..........}
div.main { overflow:hidden; width:960px; margin:auto;}
div.search_bar { width:482px; height:94px; margin:auto; background:url('../img/search.jpg') no-repeat;}
div.search_bar input { width:392px; height:27px; margin:23px 0 0 14px; background:none; border:none;}
div.search_bar a { float:right; width:50px; height:50px; margin:11px 11px 0 0 ; background:none; border:none; cursor:pointer;}


div.mid_content { width:100%; padding-top:88px; background:url('../img/shelf.png') 77px 0 no-repeat; }
div.mid_content h3 { width:730px; height:39px; margin:auto; margin-bottom:40px; background:url('../img/h_bg.png') no-repeat; font:14px "微软雅黑",Arial, Helvetica, sans-serif; line-height:33px; text-indent:1em; color:#ffffff;}
div.content_box { margin-bottom:90px;}
div.mid_content table {float:left;}


div.book_owner {.........}
.main .book_owner ul.owner_info { margin-left:40px; margin-bottom:30px; list-style:none;}
.main .book_owner ul.owner_info li { float:left; width:128px;} 
.main .book_owner ul.owner_info li:nth-child(2){ width:160px;}
div.book_owner table { margin-left:30px;}
div.book_owner table th:nth-child(1),
div.book_owner table td:nth-child(1){ width:120px; text-align:center;}
div.book_owner table th:nth-child(2),
div.book_owner table td:nth-child(2){ width:135px; text-align:center;}
div.book_owner table th:nth-child(3),
div.book_owner table td:nth-child(3){ width:80px; text-align:center;}
div.book_owner table th:nth-child(4),
div.book_owner table td:nth-child(4){ width:140px; text-align:center;}
div.book_owner table th:nth-child(5),
div.book_owner table td:nth-child(5){ width:120px; text-align:center;}
div.book_owner table th:nth-child(6),
div.book_owner table td:nth-child(6){ width:65px; text-align:center;}
/*定义表格各列的宽度*/



div.book_owner ul.pages { clear:both; float:right; margin:10px 40px;}
div.book_owner ul.pages li{ float:left; margin:0 3px;}
div.book_owner ul.pages li a { float:left; background:url('../img/pages.png') no-repeat;}
div.book_owner ul.pages li.prev a{ width:38px; height:38px;  background-position:0px 0px;} 
div.book_owner ul.pages li.prev a:hover { background-position:0px -40px;}
div.book_owner ul.pages li.next a{ width:38px; height:38px;  background-position:-45px 0px;}
div.book_owner ul.pages li.next a:hover {  background-position:-45px -40px;}
div.book_owner ul.pages li.page a{ margin-top:10px; width:15px; height:15px; background-position:-92px -12px;} 
div.book_owner ul.pages li.page a:hover,div.book_owner ul.pages li.on_select a { background-position:-93px -34px;}

div.footer {.........}
div.footer {float:left; width:100%; height:222px; margin-top:300px; background:url('../img/bottom_bg.jpg') repeat-x;}
div.footer div.safa {width:760px; height:344px; margin:-278px auto 80px; background:url('../img/safa.png') no-repeat;}
div.footer ul { float:right; margin-top:20px; margin-right:20px; font-size:14px; color:#fff;}
div.footer ul li { text-align:right; line-height:24px;}