/*css document*/
div.main {..........}
div.main { overflow:hidden; width:960px; margin:auto;}
div.search_bar { width:482px; height:94px; margin:auto; background:url('../img/search.jpg') no-repeat;}
div.search_bar .search_input { width:392px; height:27px; margin:23px 0 0 14px; background:none; border:none;}
div.search_bar .search_submit { float:right; width:50px; height:50px; margin:11px 11px 0 0 ; background:none; border:none; cursor:pointer;}


div.mid_content { width:100%; padding-top:88px; background:url('../img/shelf.png') 77px 0 no-repeat; }
div.mid_content h3 { width:730px; height:39px; margin:auto; margin-bottom:40px; background:url('../img/h_bg.png') no-repeat; font:14px "微软雅黑",Arial, Helvetica, sans-serif; line-height:33px; text-indent:1em; color:#ffffff;}
div.content_box { margin-bottom:90px;}
div.mid_content table {float:left;}

div.search_results {.........}
div.search_results dl { float:left; margin-left:15px;}
div.search_results dl dt { font:24px 微软雅黑; line-height:40px;}
div.search_results dl dd { font-size:14px; line-height:28px;}
div.search_results table { margin-left:30px;}
div.search_results table th:nth-child(1),
div.search_results table td:nth-child(1){ width:120px; text-align:center;}
div.search_results table th:nth-child(2),
div.search_results table td:nth-child(2){ width:200px; text-align:center;}
div.search_results table th:nth-child(3),
div.search_results table td:nth-child(3){ width:180px; text-align:center;}
/*定义表格各列的宽度*/


div.search_results div.book_img { float:left; width:134px; height:152px; margin-left:20px; margin-bottom:20px; padding:5px; background:url('../img/book_img.jpg') no-repeat;}
div.search_results div.book_img img { width:124px; height:142px;}
div.search_results ul.get_book { float:left; margin:30px 20px 0;}
div.search_results ul.get_book li { height:32px;}
div.search_results ul.get_book li input {float:left; width:75px; height:28px; border:none; background:#c6c4b6; box-shadow:0 -2px 4px -1px rgba(0,0,0,.6); border-radius:5px; font-size:14px; line-height:28px; text-align:center;}
div.search_results ul.get_book li input:hover { background:#e8a126; color:#fff;}

div.search_results ul.pages { clear:both; float:right; margin:10px 40px;}
div.search_results ul.pages li{ float:left; margin:0 3px;}
div.search_results ul.pages li a { float:left; background:url('../img/pages.png') no-repeat;}
div.search_results ul.pages li.prev a{ width:38px; height:38px;  background-position:0px 0px;} 
div.search_results ul.pages li.prev a:hover { background-position:0px -40px;}
div.search_results ul.pages li.next a{ width:38px; height:38px;  background-position:-45px 0px;}
div.search_results ul.pages li.next a:hover {  background-position:-45px -40px;}
div.search_results ul.pages li.page a{ margin-top:10px; width:15px; height:15px; background-position:-92px -12px;} 
div.search_results ul.pages li.page a:hover,div.search_results ul.pages li.on_select a { background-position:-93px -34px;}

div.footer {.........}
div.footer {float:left; width:100%; height:222px; margin-top:300px; background:url('../img/bottom_bg.jpg') repeat-x;}
div.footer div.safa {width:760px; height:344px; margin:-278px auto 80px; background:url('../img/safa.png') no-repeat;}
div.footer ul { float:right; margin-top:20px; margin-right:20px; font-size:14px; color:#fff;}
div.footer ul li { text-align:right; line-height:24px;}