/*css document*/
div.main {..........}
div.main { overflow:hidden; width:960px; margin:auto;}

div.mid_content { width:100%; padding-top:88px; background:url('../img/shelf.png') 77px 0 no-repeat; }
div.mid_content h3 { width:730px; height:39px; margin:auto; margin-bottom:40px; background:url('../img/h_bg.png') no-repeat; font:14px "微软雅黑",Arial, Helvetica, sans-serif; line-height:33px; text-indent:1em; color:#ffffff;}

div.mid_content p.step_01 { margin-left:120px; margin-bottom:12px; font:18px "微软雅黑",Arial, Helvetica, sans-serif; color:#4e4949; font-weight:bold; text-indent:0.5em; letter-spacing:2px; line-height:30px;}
div.mid_content p.step_02 { margin-left:120px; margin-bottom:20px; font:18px "微软雅黑",Arial, Helvetica, sans-serif; color:#d92c2c; font-weight:bold; text-indent:0.5em; letter-spacing:2px; line-height:40px;}
div.mid_content p.step_03 { margin-left:120px; margin-bottom:12px; font:18px "微软雅黑",Arial, Helvetica, sans-serif; color:#b89461; font-weight:bold; text-indent:0.5em; letter-spacing:2px; line-height:30px;}
div.mid_content p.step_01 span { float:left; width:30px; height:30px; margin:0 5px; box-shadow:0 -2px 4px -2px rgba(0,0,0,.6); background:#9a9a9a; border-radius:15px; font:24px Arial, Helvetica, sans-serif; line-height:32px; text-indent:8px; color:#fff;}
div.mid_content p.step_02 span { float:left; width:40px; height:40px; box-shadow:0 -2px 4px -2px rgba(0,0,0,.6); background:#e23636; border-radius:20px; font:28px Arial, Helvetica, sans-serif; line-height:40px; text-indent:12px; color:#fff;}
div.mid_content p.step_03 span { float:left; width:30px; height:30px; margin:0 5px; box-shadow:0 -2px 4px -2px rgba(0,0,0,.6); background:#b89461; border-radius:15px; font:24px Arial, Helvetica, sans-serif; line-height:32px; text-indent:8px; color:#fff;}
div.mid_content p.dots { margin-left:120px; height:15px;}
div.mid_content p.dots span { float:left; width:6px; height:6px; margin:0 17px; box-shadow:0 -2px 4px -2px rgba(0,0,0,.6); background:#9a9a9a; border-radius:3px;}/* 页面里面各种点点点在高级浏览器下的效果*/


div.content_box { margin-bottom:20px;}


div.search_results {.........}
div.search_results h2 { margin-left:40px; margin-bottom:40px; font:18px "微软雅黑",Arial, Helvetica, sans-serif; font-weight:bold; color:#4d4d4d;}
div.search_results h4 { clear:both; margin:10px 30px; font:14px "微软雅黑",Arial, Helvetica, sans-serif; font-weight:bold; color:#4d4d4d;}
div.search_results p { clear:both; margin:20px 100px;  font-size:14px;}
div.search_results p span { margin-right:30px;}
div.search_results span.tips { float:left; height:20px; width:200px; margin-left:3px; margin-bottom:10px; border-bottom:solid 1px #c0c0c0; white-space:nowrap; text-indent:333px; color:#646464;}

div.search_results table th:nth-child(1),
div.search_results table td:nth-child(1){ width:120px; text-align:center;}
div.search_results table th:nth-child(2),
div.search_results table td:nth-child(2){ width:135px; text-align:center;}
div.search_results table th:nth-child(3),
div.search_results table td:nth-child(3){ width:80px; text-align:center;}
div.search_results table th:nth-child(4),
div.search_results table td:nth-child(4){ width:140px; text-align:center;}
div.search_results table th:nth-child(5),
div.search_results table td:nth-child(5){ width:120px; text-align:center;}
div.search_results table th:nth-child(6),
div.search_results table td:nth-child(6){ width:65px; text-align:center;}
/*定义表格各列的宽度*/

div.mid_content div.receipt { width:500px; height:100px; margin:auto; }
div.mid_content div.receipt .receipt_succ {float:left; width:180px; height:55px; margin-bottom:10px; border:none; background:url('../img/receipt.jpg') -3px 0 no-repeat; cursor:pointer;}
div.mid_content div.receipt .receipt_unsucc {float:left; width:180px; height:55px; border:none; background:url('../img/receipt.jpg') -180px 0 no-repeat; cursor:pointer;}
div.mid_content div.receipt span { float:left; margin:0 10px; font:36px "微软雅黑",Arial, Helvetica, sans-serif; font-weight:bold; color:#707070;}
div.mid_content div.receipt p { clear:both; text-align:center; font-size:14px; color:#707070;}

div.footer {.........}
div.footer {float:left; width:100%; height:222px; margin-top:300px; background:url('../img/bottom_bg.jpg') repeat-x;}
div.footer div.safa {width:760px; height:344px; margin:-278px auto 80px; background:url('../img/safa.png') no-repeat;}
div.footer ul { float:right; margin-top:20px; margin-right:20px; font-size:14px; color:#fff;}
div.footer ul li { text-align:right; line-height:24px;}