/*css document*/
div.main {..........}
div.main { overflow:hidden; width:960px; margin:auto;}

div.mid_content { width:100%; padding-top:88px; background:url('../img/shelf.png') 77px 0 no-repeat; }
div.mid_content h3 { width:730px; height:39px; margin-left: 80px; margin-bottom:40px; background:url('../img/h_bg.png') no-repeat; font:14px "微软雅黑",Arial, Helvetica, sans-serif; line-height:33px; text-indent:1em; color:#ffffff;}

div.mid_content div.content_box { margin-bottom:50px;}


div.check_step {float: left;border-right: 1px solid #fff;margin-left: 40px;width: 315px;}
div.check_step div { border-right: 1px solid #c9c7b9;height: 240px; overflow: hidden;}
div.check_step div h5 { margin:10px 0px; color:#4d4d4d;}
div.check_step div p {margin-right: 10px; margin-bottom: 50px; overflow: hidden;	}
div.check_step div p span { width: 150px;float: left;line-height: 40px;}
div.check_step div p span:nth-child(5) { width: 300px;}
div.check_step div span.tips {clear: both; height:20px; width:200px; color:#130e7a;}

div.explain { overflow: hidden; }
div.explain h5 { margin:10px 30px; color: #130e7a;cursor: pointer; }
div.explain h5 span { margin-left: 20px;}
div.explain p { color: #666; margin-left: 25px; line-height: 35px;}
div.explain p span { float: left; margin-top: 10px; width: 15px;height: 15px; background: url('../img/pages.png') -93px -30px no-repeat;}
div.explain h6 { width: 130px; margin: 50px auto 20px;}
div.explain input[value="是"] { margin-left: 120px;}
div.explain input[value="否"] { margin-left: 30px;}
div.explain input {float: left;line-height: 35px; cursor: pointer;width: 75px;height: 35px; text-align: center;background: url('../img/button_bg.png') 0 0 no-repeat;border: none;color: #fff;font-size: 15px;font-weight: bold;}
div.explain input:hover { background-position: -75px 0;}
div.explain input:active { background-position: -150px 0;}


div.search_results {.........}
div.mid_content div.search_results h3 { background: url('../img/h3_bg.png') 0 0 no-repeat; margin-left: -2px;}
div.search_results table th:nth-child(1),
div.search_results table td:nth-child(1){ width:200px; text-align:center;}
div.search_results table th:nth-child(2),
div.search_results table td:nth-child(2){ width:125px; text-align:center;}
div.search_results table th:nth-child(3),
div.search_results table td:nth-child(3){ width:130px; text-align:center;}
div.search_results table th:nth-child(4),
div.search_results table td:nth-child(4){ width:160px; text-align:center;}
div.search_results table th:nth-child(5),
div.search_results table td:nth-child(5){ width:60px; text-align:center;}
div.search_results table th:nth-child(6),
div.search_results table td:nth-child(6){ width:60px; text-align:center;}
/*定义表格各列的宽度*/
div.search_results table td label { position: relative; cursor: pointer;}
div.search_results table td input { ......}
div.search_results table td input[type=checkbox] {visibility:hidden;}
div.search_results table td input[type=checkbox] + span {display:inline-block; position:absolute; top:0px; left:0px; width:16px; height:16px; border: 1px solid #bababa;}
div.search_results table td input[type=checkbox]:checked + span { background:url("../img/minihook.png") no-repeat;}


/*重新预约页面 样式*/
div.borrower_info {margin-left: 45px;}
div.borrower_info p { margin-bottom: 30px;}
div.borrower_info p span:nth-child(1) {display: inline-block; width: 180px;}
div.borrower_info p span:nth-child(2) {display: inline-block; width: 130px;}
div.borrower_info p.tips {color:#130e7a;}

/*重新预约页面 提交按钮、提示*/
div.search_results input[type=submit] { float:right; width:75px; height:35px; margin: 0 25px; border:none;font-size:14px; line-height:35px; text-align:center; color:#fff; background: url('../img/button_bg.png') 0px 0 no-repeat;}
div.search_results input[type=submit]:hover {background-position: -75px 0px;}
div.search_results input[type=submit]:active {background-position: -150px 0px;}
div.search_results .tips { text-align: right; height: 35px; padding: 10px 0; line-height: 35px; color: #130e7a;}