/*css document*/
div.main {..........}
div.main { overflow:hidden; width:960px; margin:auto;}
div.search_bar { width:482px; height:94px; margin:auto; background:url('../img/search.jpg') no-repeat;}
div.search_bar .search_input { width:392px; height:27px; margin:23px 0 0 14px; background:none; border:none;}
div.search_bar .search_submit { float:right; width:50px; height:50px; margin:11px 11px 0 0 ; background:none; border:none; cursor:pointer;}


div.mid_content { position:relative; width:100%; padding-top:88px; background:url('../img/shelf.png') 77px 0 no-repeat; }
div.mid_content h3 { width:730px; height:39px; margin:auto; margin-bottom:40px; background:url('../img/h_bg.png') no-repeat; font:14px "微软雅黑",Arial, Helvetica, sans-serif; line-height:33px; text-indent:1em; color:#ffffff;}
div.content_box { margin-bottom:90px;}



div.personal_config {........}
div.personal_config div.left { float:left; width:65%; border-right:dashed 1px #717171;}
div.personal_config div.left label { overflow:hidden; display:block; width:300px; margin-bottom:15px; line-height:30px; text-align:right; font-size:14px;}
div.personal_config div.left label span.user_name { float:right; width:200px; margin-left:15px; text-align:left;}
div.personal_config div.left label input { width:200px; height:25px; margin-left:15px; background:none; border:solid 1px #767676; border-radius:4px;}
div.personal_config div.left label div.select_button { float:right; width:200px; height:40px; margin:3px 0 0 15px;}
div.personal_config div.left label input.qu { float:left; width:auto; margin:0; margin-right:5px;}

div.personal_config div.left label div.select_button label { float:left; display:inline; width:auto; margin-right:20px;}


div.personal_config div.right { float:right; width:32%;}
div.personal_config div.right ul { margin-top:20px;}
div.personal_config div.right ul li { line-height:30px; font-size:14px;}
div.personal_config div.right ul li.gray { color:gray;}
div.personal_config ul.pages { position:absolute; bottom:30px; right:140px;}


div.personal_config .config_submit { height:30px; border:none; margin-left:99px; background:#c6c4b6; padding:0 17px; box-shadow:0 -2px 4px -1px rgba(0,0,0,.6); border-radius:5px; font-size:14px; line-height:28px; text-align:center; cursor:pointer;}
div.personal_config .config_submit:hover { background:#e8a126; color:#fff;} 

div.footer {.........}
div.footer {float:left; width:100%; height:222px; margin-top:300px; background:url('../img/bottom_bg.jpg') repeat-x;}
div.footer div.safa {width:760px; height:344px; margin:-278px auto 80px; background:url('../img/safa.png') no-repeat;}
div.footer ul { float:right; margin-top:20px; margin-right:20px; font-size:14px; color:#fff;}
div.footer ul li { text-align:right; line-height:24px;}
#div_pwd{padding: 15px 0 0 0;overflow: hidden; width: 300px;height: 0px;}
