div.footer {.........}
div.footer {float:left; width:100%; height:222px; margin-top:300px; background:url('../img/bottom_bg.jpg') repeat-x;}
div.footer div.safa {width:760px; height:344px; margin:-278px auto 80px; background:url('../img/safa.png') no-repeat;}
div.footer ul { padding-top: 10px; font-size: 14px; color: #fff; }
div.footer ul li { text-align: center; line-height: 24px; }
div.footer ul li a { color: #fff; }
