/*css document*/
body { background:#cfcaa5 url('../img/bg_01.jpg') repeat-x; font-size:13px;font-family: '微软雅黑'; color:#333333;}

#float_head { width:100%; height:50px; background-color: #000;/* background:rgba(0,0,0,0.63);*/}
#float_head .header { position: relative; width:890px; margin:auto; padding:0px 35px; color:#fff;}
#float_head .header ul li { float: right; margin-right: 20px; height: 50px; line-height: 50px;}
#float_head .header ul li#logo { float: left;}
#float_head .header ul li#logo a {display: block; width: 120px; height: 50px; background: url('../img/logo_min.png') 0 0 no-repeat; }
#float_head .header ul li a#logout { font-size: 14px; color: #e9b322; line-height: 50px;}
#float_head .header ul li a#message { color: #fff; text-align: right; display: block; width: 59px; height: 50px; background: url('../img/button_bg.png') -75px -73px no-repeat;}
#float_head .header ul li a#p_config { display: block; width: 59px; height: 50px; background: url('../img/button_bg.png') -150px -73px no-repeat;}
#float_head .header ul li a#message:hover,#float_head .header ul li a#p_config:hover { background-color: #e9b322;}
/*#float_head a#logo {float:left; width:120px; height:44px; background:url('../img/logo_min.png') no-repeat;}*/
/*#float_head .header span.score { float:right;  line-height:44px;}*/
/*#float_head .header a#message,#float_head .header a#logout { float:right; margin-right:20px; color:#fff; text-decoration:none; line-height:44px;}*/
/*#float_head .header a#p_config { float: right;}*/
/*#float_head .user_info {position:absolute; left:660px; z-index:100; width:70px; margin-top:6px; margin-right:20px; background:#4f4f4f; border-radius:5px; font:13px "宋体"; line-height:32px; text-align:center;}*/
/*#float_head .user_info span.user_name {display:block; width:65px; background:url('../img/abc.png') right no-repeat;}*/
/*#float_head .user_info a { display:none; text-decoration:none; color:#fff; }*/
/*#float_head .user_info:hover a { display:block;} */
/*#float_head .user_info:hover a:hover { display:block; color: #000; background-color: #fff;} */
#float_head #add_book {position:absolute; top:6px; left:541px; z-index:100; padding:0px 15px; background:#bfbfbf; border-radius:4px; color:#fff; text-decoration:none; line-height:32px;}
#float_head #login {position:absolute; top:6px; left:780px; z-index:100; padding:0px 15px; background:#bfbfbf; border-radius:4px; color:#000; text-decoration:none; line-height:32px;}
#float_head #register {position:absolute; top:6px; left:840px; z-index:100; padding:0px 15px; background:#bfbfbf; border-radius:4px; color:#000; text-decoration:none; line-height:32px;}
#float_head #login:hover,#float_head #register:hover{ background:#e8a126; color:#fff;}
div.home_page { width:807px; height:309px; margin:0 auto 20px; background:url('../img/home_page.jpg') no-repeat;}
div.home_page a { float:left; width:400px; height:125px; margin:180px 0 0 202px;}

div.mid_content div.box_demo { position:relative; overflow:hidden; z-index:10; width:800px; padding:40px 0; margin:0px auto; background:#eeece1; border-bottom:solid 0px rgba(0,0,0,.3); box-shadow:0px 10px 10px -5px rgba(0,0,0,0.6),0px 1px 2px 2px rgba(255,255,255,.6) inset,0px -2px 3px 0px rgba(0,0,0,.8) inset,0px -2px 3px 0px rgba(0,0,0,.6) inset; border-radius:8px;}/*浮雕快在高级浏览器下的预定义*/
div.bottom_shadow { clear: both; position:absolute; z-index:-1; width:800px; height:48px; margin-top:-25px; margin-left:80px;  background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgba(0,0,0,.15)), to(rgba(0,0,0,0))); background-image:-moz-linear-gradient(top,rgba(0,0,0,.15),rgba(0,0,0,0)); background-image:-o-linear-gradient(top,rgba(0,0,0,.15),rgba(0,0,0,0));}/*块级区域底层阴影,宽度，边距需细修*/
/*列表样式*/
div.mid_content table { clear:both; margin:auto; margin-bottom: 20px; border:1px solid #cecece; border-collapse:separate;  border-radius:5px; border-spacing:0 0; box-shadow:0 -3px 8px -2px rgba(0,0,0,.4);}
div.mid_content th,div.mid_content td {height:50px;border:1px solid #cecece; border-top:none; border-left:none; line-height:30px;}
div.mid_content th { font-size:13px; font-weight:bold; color:#333;height:36px;}
div.mid_content tr:hover { background-color:rgb(247, 247, 243);}
div.mid_content tr:nth-child(1):hover { background-color: #eeece1;}
div.mid_content tr th:last-child,div.mid_content tr td:last-child { border-right:none;}
div.mid_content tr:last-child td { border-bottom:none;}
div.mid_content table tr:first-child th:first-child{ border-top-left-radius:5px;}
.main table tr:first-child th:last-child{border-top-right-radius:5px;}
div.mid_content table tr:last-child td:last-child{ border-bottom-right-radius:5px;}
div.mid_content table tr:last-child td:first-child{ border-bottom-left-radius:5px;}/*表格在高级浏览器下的预定义*/
div.mid_content td a { text-decoration:none; color:#130e7a;}/*表格内a默认样式的修改*/
