/*css document*/
body { background:#cfcaa5 url('../img/bg_01.jpg') repeat-x; font:12px 宋体;}

#float_head { width:100%; height:44px; background:rgba(0,0,0,0.63);}
#float_head .header { position: relative; width:890px; margin:auto; padding:0px 35px; color:#fff;}
#float_head a#gdutonline {float:left; width:120px; height:44px; background:url('../img/gdutonline.png') no-repeat;}
#float_head .header span.score { float:right;  line-height:44px;}
#float_head .header a#message { float:right; margin-right:20px; color:#fff; text-decoration:none; line-height:44px;}
#float_head .user_info {position:absolute; left:660px; z-index:100; width:70px; margin-top:6px; margin-right:20px; background:#4f4f4f; border-radius:5px; font:13px "宋体"; line-height:32px; text-align:center;}
#float_head .user_info span.user_name {display:block; width:65px; background:url('../img/abc.png') right no-repeat;}
#float_head .user_info a { display:none; text-decoration:none; color:#fff; }
#float_head .user_info:hover a { display:block;} 
#float_head #add_book {position:absolute; top:6px; left:541px; z-index:100; padding:0px 15px; background:#bfbfbf; border-radius:4px; color:#fff; text-decoration:none; line-height:32px;}
#float_head #login {position:absolute; top:6px; left:830px; z-index:100; padding:0px 15px; background:#bfbfbf; border-radius:4px; color:#fff; text-decoration:none; line-height:32px;}
#float_head #register {position:absolute; top:6px; left:890px; z-index:100; padding:0px 15px; background:#bfbfbf; border-radius:4px; color:#fff; text-decoration:none; line-height:32px;}

div.home_page { width:807px; height:309px; margin:0 auto 20px; background:url('../img/home_page.jpg') no-repeat;}
div.home_page a { float:left; width:400px; height:125px; margin:180px 0 0 202px;}

div.mid_content div.box_demo { position:relative; overflow:hidden; z-index:10; width:725px; padding:20px 0; margin:0px auto; background:#eeece1; border-bottom:solid 0px rgba(0,0,0,.3); box-shadow:0px 10px 10px -5px rgba(0,0,0,0.6),0px 1px 2px 2px rgba(255,255,255,.6) inset,0px -2px 3px 0px rgba(0,0,0,.8) inset,0px -2px 3px 0px rgba(0,0,0,.6) inset; border-radius:8px;}/*浮雕快在高级浏览器下的预定义*/
div.bottom_shadow { position:absolute; z-index:-1; width:723px; height:48px; margin-top:-25px; margin-left:118px;  background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgba(0,0,0,.15)), to(rgba(0,0,0,0))); background-image:-moz-linear-gradient(top,rgba(0,0,0,.15),rgba(0,0,0,0)); background-image:-o-linear-gradient(top,rgba(0,0,0,.15),rgba(0,0,0,0));}/*块级区域底层阴影,宽度，边距需细修*/

div.mid_content table { clear:both; margin:auto; border:1px solid #85847d; border-collapse:separate;  border-radius:5px; border-spacing:0 0; box-shadow:0 -3px 8px -2px rgba(0,0,0,.4);}
div.mid_content th,div.mid_content td {height:30px; background:#dedcd0;border:1px solid #85847d; border-top:none; border-left:none; line-height:30px;}
div.mid_content th { font-size:14px; font-weight:normal; color:#5c5c5c;}
div.mid_content tr th:last-child,div.mid_content tr td:last-child { border-right:none;}
div.mid_content tr:last-child td { border-bottom:none;}
div.mid_content table tr:first-child th:first-child{ border-top-left-radius:5px;}
.main table tr:first-child th:last-child{border-top-right-radius:5px;}
div.mid_content table tr:last-child td:last-child{ border-bottom-right-radius:5px;}
div.mid_content table tr:last-child td:first-child{ border-bottom-left-radius:5px;}/*表格在高级浏览器下的预定义*/
div.mid_content td a { text-decoration:underline; };/*表格内a默认样式的修改*/
