/*css document*/
div.main {..........}
div.main { width:960px; margin:auto;}
div.search_bar { width:482px; height:94px; margin:auto; background:url('../img/search.jpg') no-repeat;}
div.search_bar .search_input { width:392px; height:27px; margin:23px 0 0 14px; background:none; border:none;}
div.search_bar .search_submit { float:right; width:50px; height:50px; margin:11px 11px 0 0 ; background:none; border:none; cursor:pointer;}


div.mid_content { width:100%; padding-top:88px; background:url('../img/shelf.png') 77px 0 no-repeat; }
div.content_box { margin-bottom:90px;}
div.mid_content div.match_box { overflow:hidden;}
div.mid_content div.box_demo h3 { width:200px; height:42px; margin:0px 0 10px -2px; background:url('../img/h3_bg.png') 0px 0px no-repeat; font:14px 微软雅黑; line-height:38px; color:#fff; text-indent:1em;}

div.needed_book {.........}
div.needed_book p { clear:both; margin-bottom:20px; text-indent:2em; font-size:14px; color:#565656;}
div.needed_book p span { font-weight: bold;margin-right: 60px;}
div.needed_book p a { color:#418FDF;}
div.needed_book p a:hover { color:#000; text-decoration:underline;}
div.needed_book table { margin-bottom:30px;}
div.needed_book table th:nth-child(1),
div.needed_book table td:nth-child(1){ width:180px; text-align:center;}
div.needed_book table th:nth-child(2),
div.needed_book table td:nth-child(2){ width:120px; text-align:center;}
div.needed_book table th:nth-child(3),
div.needed_book table td:nth-child(3){ width:140px; text-align:center;}
div.needed_book table th:nth-child(4),
div.needed_book table td:nth-child(4){ width:150px; text-align:center;}
div.needed_book table th:nth-child(5),
div.needed_book table td:nth-child(5){ width:70px; text-align:center;}
div.needed_book table th:nth-child(6),
div.needed_book table td:nth-child(6){ width:70px; text-align:center;}

/*定义表格各列的宽度*/


.main .match_box p.tips { float: left; margin:30px 0px 20px 30px; color: #b81313;}
.main .match_box table span.hidden_list { color: #130e7a; cursor:pointer; }
.main .match_box h5 { position:relative; width:740px; height:35px; margin:auto; border:1px solid #cecece; font:13px "微软雅黑"; font-weight:bold; text-align:center; line-height:35px;}
.main .match_box h5 span { float: left; width: 245px; display:block; border-right: 1px solid #cecece;}
.main .match_box h5 span:nth-child(3) {border: none;}
.main .match_box h5 span strong { color: #130e7a; cursor: pointer;}

.main .match_box .match_list h5 { border-top:none; font-weight:normal;} 
.main .match_box .match_list h5:hover { background-color: rgb(247, 247, 243);} 
.main .match_box .match_list h5.unread { font-weight:bold;}
.main .match_box .match_list h5.click_h5 { font-weight:bold;} 
.main .match_box .match_book { display:none; overflow:hidden; margin:auto;width: 740px; padding:10px 0px; border: 1px solid #cecece;border-top: none;}
.main .match_box .match_book .ok_submit{  bottom:30px; left:40px; width:75px; height:30px; margin-left:550px; background:#c6c4b6; box-shadow:0 -2px 4px -1px rgba(0,0,0,.6); border-radius:5px; font-size:14px; line-height:28px; text-align:center;}
.main .match_box .match_book .ok_submit:hover{ background:#e8a126; color:#fff;} 

.match_book ul li label { position:relative; padding-left:25px; cursor:pointer;}
.match_book ul li label input[type=checkbox] {visibility:hidden;}
.match_book ul li label input[type=checkbox] + span {display:inline-block; position:absolute; top:0px; left:23px; width:16px; height:16px; border: 1px solid #bababa;}
.match_book ul li label input[type=checkbox]:checked + span { background:url("../img/hover_bg.png") no-repeat -28px -152px;}
.match_book ul li { color: #130e7a; width: 245px; float: left; height: 31px; text-align: left; margin-top: 20px;}
.match_book ul li label input { margin-right:10px;}
.match_book .book_list_bottom { clear: both; height:32px; margin-right: 35px;margin-bottom: 20px; text-align: right; padding-top: 25px;}
.match_book .select_all { margin-right: 20px; text-decoration:underline; cursor:pointer;vertical-align: top;}
.match_book #submit { height:35px; width:75px; border:none; background:url("../img/button_1.png") no-repeat; cursor:pointer;}
.match_book #submit:hover { background: url('../img/button_10.png') no-repeat;}

div.match_box ul.pages { float: right; margin: 20px 30px 20px 0px;}
div.match_box ul.pages li{ float:left; margin:0 3px;}
div.match_box ul.pages li a { float:left; background:url('../img/pages.png') no-repeat;}
div.match_box ul.pages li.prev a{ width:38px; height:38px;  background-position:0px 0px;} 
div.match_box ul.pages li.prev a:hover { background-position:0px -40px;}
div.match_box ul.pages li.next a{ width:38px; height:38px;  background-position:-45px 0px;}
div.match_box ul.pages li.next a:hover {  background-position:-45px -40px;}
div.match_box ul.pages li.page a{ margin-top:10px; width:15px; height:15px; background-position:-92px -12px; line-height:38px; text-indent:5px; color:#85847d;} 
div.match_box ul.pages li.page a:hover,div.match_box ul.pages li.on_select a { background-position:-93px -34px;}
div.match_box ul.pages li.on_select a{ font-weight:bold;}