/*css document*/
body { background:#cfcaa5 url('../img/bg.jpg') repeat-x;}
div#home_page {  margin:50px auto 30px; width:400px; height:125px; background:url('../img/default.png') no-repeat;}
div#home_page a { float:left; width:400px; height:125px;}


div.main {...........}
div.main { width:807px; margin:auto; }
div.main h3 { height:39px; margin-bottom:20px; background:url('../img/h_bg.png') no-repeat; font:14px "微软雅黑",Arial, Helvetica, sans-serif; line-height:33px; text-indent:1em; color:#ffffff;}


.sign {...........}
div.sign { position:relative; overflow:hidden; z-index:10; width:502px; height:297px; padding:20px 0; margin:0px auto; background:#f7f7f7; border:solid 1px #b2a88c; box-shadow:0px 10px 10px -5px rgba(0,0,0,0.6),0px 1px 2px 2px rgba(255,255,255,.6) inset,0px -6px 0px 0px #cdcdcd inset; border-radius:8px;}

div.bottom_shadow { position:absolute; z-index:-1; width:498px; height:48px; margin-top:-25px; margin-left:155px;  background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgba(0,0,0,.15)), to(rgba(0,0,0,0))); background-image:-moz-linear-gradient(top,rgba(0,0,0,.15),rgba(0,0,0,0)); background-image:-o-linear-gradient(top,rgba(0,0,0,.15),rgba(0,0,0,0));}

div.sign img.shujia {display: block; width:467px; height:69px; margin:0 17px 30px;}
div.sign form { width: 260px; float:left; font-size:13px; border-right: 1px solid #fff;}
div.sign form>div { overflow: hidden; border-right: 1px solid #d1d1d1;}
div.sign form span { margin-left:20px; color:#626262; }
div.sign form label { display:block; width:220px; margin:15px 30px 15px 10px; text-align:right;}
div.sign form label input {height: 28px; width: 142px; border: 1px solid #d1d1d1; margin-left: 5px; background-color: #f8f8f8; border-radius: 3px;}
div.sign form label.yanzheng input { width: 65px ;}
div.sign form label.yanzheng img{ width: 70px;height: 25px; vertical-align: middle;}
div.sign form input.confirm { clear:both; float:left; width:75px; height:35px; margin:20px 0 0 85px; border:none;font-size:14px; line-height:35px; text-align:center; color:#fff; background: url('../img/button_bg.png') 0 0 no-repeat;}
div.sign form input.confirm:hover {background-position: -75px 0;}
div.sign form input.confirm:active {background-position: -150px 0;}
/*div.sign form .forget { float:right; text-decoration: underline; color:#626262; font-size:12px;}*/

/*记住密码的特殊样式*/
div.sign form .check_label { width:144px; margin:0; margin-left:45px; font-size:12px; line-height:12px;}
div.sign form #remember { width:auto; height:auto; vertical-align: middle;}
div.sign .check_label span { margin:1px 0 0 5px; vertical-align: middle; -webkit-user-select:none; -mos-user-select:none;}
div.sign a.sign_up p { font-size: 13px;margin: 22px 27px;line-height: 25px;}
div.sign a.sign_up p span { font-weight: bold; color: #130e7a;}
div.sign a.sign_up { display:block; position:absolute; overflow:hidden; right:10px; width:217px; height:157px; background:url("../img/sign_up1.png") no-repeat;}
.sign .sign_up:hover:after{-webkit-animation:flash 2s linear infinite;-moz-animation:flash 2s linear infinite;-ms-animation:flash 2s linear infinite;animation:flash 2s linear infinite}
.sign .sign_up:after {content:" ";position:absolute;display:block;top:-45px;left:-115px;width:30px;height:247px;background:rgba(255,255,255,.3);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg)}
@-webkit-keyframes flash{100%{left:1000px}}
@-moz-keyframes flash{100%{left:1000px}}
@-ms-keyframes flash{100%{left:1000px}}
@-keyframes flash{100%{left:1000px}}

div.shelf_bg { clear:both; width:100%; height:65px; margin-top:50px; background:url('../img/shelf.png') no-repeat;}
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.alert,
.alert h4 {
  color: #c09853;
}

.alert h4 {
  margin: 0;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}
