/*css document*/
div.main {..........}
div.main { overflow:hidden; width:960px; margin:auto;}
div.search_bar { width:482px; height:94px; margin:auto; background:url('../img/search.jpg') no-repeat;}
div.search_bar .search_input { width:392px; height:27px; margin:23px 0 0 14px; background:none; border:none;}
div.search_bar .search_submit { float:right; width:50px; height:50px; margin:11px 11px 0 0 ; background:none; border:none; cursor:pointer;}


div.mid_content { width:100%; padding-top:88px; background:url('../img/shelf.png') 77px 0 no-repeat; }
div.mid_content h3 { width:725px; height:39px; margin:auto; margin-bottom:40px; background:url('../img/h_bg.png') no-repeat; font:14px "微软雅黑",Arial, Helvetica, sans-serif; line-height:33px; text-indent:1em; color:#ffffff;}
div.content_box { margin-bottom:90px;}

div.mid_content div.box_demo {min-height:320px; padding-bottom:80px;}/*浮雕快在高级浏览器下的预定义*/



.main .message h5 { position:relative; width:90%; height:35px; margin:auto; font:14px "微软雅黑"; font-weight:bold; text-align:center; line-height:35px;}
.main .message h5 span:nth-child(1) {float:left; width:90px;}
.main .message h5 span:nth-child(2) {float:left; width:450px;} 
.main .message h5 span:nth-child(3) {float:left; width:90px;}
.main .message .message_box h5 { border-bottom:solid 1px #c4c4c4; font-weight:normal; cursor:pointer;} 
.main .message .message_box h5.unread { font-weight:bold;}
.main .message .message_contant { display:none; overflow:hidden; margin:0 15px; padding:10px 0px; border-top:solid 2px #787878; border-bottom:solid 2px #787878;}
.main .message .message_contant p { font:14px "宋体"; margin:0 22px 10px; text-indent:2em; line-height:25px;}
.main .message .message_contant span { float:right; width:22px; height:22px; margin:5px 20px 0 0; background:url('../img/hide.png') no-repeat; cursor:pointer;}
.main .message .message_contant .ok_submit{  bottom:30px; left:40px; width:75px; height:30px; margin-left:550px; background:#c6c4b6; box-shadow:0 -2px 4px -1px rgba(0,0,0,.6); border-radius:5px; font-size:14px; line-height:28px; text-align:center;}
.main .message .message_contant .ok_submit:hover{ background:#e8a126; color:#fff;} 
.main .message .message_box h5.click_h5 { border:none; font-weight:bold;} 
.main .message ul { float:right; margin:40px 60px 0 0; list-style:none;}
.main .message ul li { float:left; margin:0 5px;}
.main a.home_page { clear:both; float:left; width:80px; height:32px; margin:80px 0 0 50px; background:#e0e0e0; border:solid 1px #c3c3c3; border-radius:3px; line-height:32px; text-align:center; color:#000; text-decoration:none;}


div.message a.home_page { position:absolute; bottom:30px; left:40px; width:75px; height:30px; margin:0; background:#c6c4b6; box-shadow:0 -2px 4px -1px rgba(0,0,0,.6); border-radius:5px; font-size:14px; line-height:28px; text-align:center;}
div.message a.home_page:hover { background:#e8a126; color:#fff;} 
div.message ul.pages { clear:both; position:absolute; right:20px; bottom:30px; margin:0;}
div.message ul.pages li{ float:left; margin:0 3px;}
div.message ul.pages li a { float:left; background:url('../img/pages.png') no-repeat;}
div.message ul.pages li.prev a{ width:38px; height:38px;  background-position:0px 0px;} 
div.message ul.pages li.prev a:hover { background-position:0px -40px;}
div.message ul.pages li.next a{ width:38px; height:38px;  background-position:-45px 0px;}
div.message ul.pages li.next a:hover {  background-position:-45px -40px;}
div.message ul.pages li.page a{ margin-top:10px; width:15px; height:15px; background-position:-92px -12px; line-height:38px; text-indent:5px; color:#85847d;} 
div.message ul.pages li.page a:hover,div.message ul.pages li.on_select a { background-position:-93px -34px;}
.message .pages .on_select a{ font-weight:bold;}


