/*css document*/
div.main {..........}
div.main { overflow:hidden; width:960px; margin:auto;}

div.mid_content { width:100%; padding-top:88px; background:url('../img/shelf.png') 77px 0 no-repeat; }
div.mid_content h3 { width:730px; height:39px; margin:auto; margin-bottom:40px; background:url('../img/h_bg.png') no-repeat; font:14px "微软雅黑",Arial, Helvetica, sans-serif; line-height:33px; text-indent:1em; color:#ffffff;}


div.mid_content p.step_04 { margin-left:120px; margin-bottom:12px; font:18px "微软雅黑",Arial, Helvetica, sans-serif; color:#b89461; font-weight:bold; text-indent:0.5em; letter-spacing:2px; line-height:30px;}
div.mid_content p.step_04 span { float:left; width:30px; height:30px; margin:0 5px; box-shadow:0 -2px 4px -2px rgba(0,0,0,.6); background:#b89461; border-radius:15px; font:24px Arial, Helvetica, sans-serif; line-height:32px; text-indent:8px; color:#fff;}
div.mid_content p.dots { margin-left:120px; height:15px;}
div.mid_content p.dots span { float:left; width:6px; height:6px; margin:0 17px; box-shadow:0 -2px 4px -2px rgba(0,0,0,.6); background:#b89461; border-radius:3px;}/* 页面里面各种点点点在高级浏览器下的效果*/


div.content_box { margin-bottom:20px;}
div.mid_content div.box_demo { width:645px; padding:40px; }/*浮雕快在高级浏览器下的预定义*/
div.mid_content div.receipt {.........}
div.mid_content div.receipt span { color:#ff0000;}
div.mid_content div.receipt p { margin:20px 0; font:18px "微软雅黑",Arial, Helvetica, sans-serif; font-weight:bold;}
div.mid_content div.receipt a {text-decoration:underline;}

