/*css document*/
div.main {..........}
div.main { overflow:hidden; width:960px; margin:auto;}
div.search_bar { width:482px; height:94px; margin:auto; background:url('../img/search.jpg') no-repeat;}
div.search_bar .search_input { width:392px; height:27px; margin:23px 0 0 14px; background:none; border:none;}
div.search_bar .search_submit { float:right; width:50px; height:50px; margin:11px 11px 0 0 ; background:none; border:none; cursor:pointer;}


div.mid_content { width:100%; padding-top:88px; background:url('../img/shelf.png') 77px 0 no-repeat; }
div.content_box { margin-bottom:90px;}
div.mid_content div.box_demo h3 { float:left; width:200px; height:42px; margin:0px 0 30px -2px; background:url('../img/h3_bg.png') 0px 0px no-repeat; font:14px 微软雅黑; line-height:38px; color:#fff; text-indent:1em;}

div.mid_content table { margin-bottom:20px;}


div.search_results {.........}
div.search_results p { clear:both; margin-bottom:20px; text-indent:2em; font-size:14px; color:#565656;}
div.search_results p a { color:#565656;}
div.search_results p a:hover { color:#000;}
div.search_results table th:nth-child(1),
div.search_results table td:nth-child(1){ width:200px; text-align:center;}
div.search_results table th:nth-child(2),
div.search_results table td:nth-child(2){ width:100px; text-align:center;}
div.search_results table th:nth-child(3),
div.search_results table td:nth-child(3){ width:135px; text-align:center;}
div.search_results table th:nth-child(4),
div.search_results table td:nth-child(4){ width:80px; text-align:center;}
div.search_results table th:nth-child(5),
div.search_results table td:nth-child(5){ width:160px; text-align:center;}
div.search_results table th:nth-child(6),
div.search_results table td:nth-child(6){ width:60px; text-align:center;}
/*定义表格各列的宽度*/

ul.pages { clear:both; float:right; margin:10px 40px;}
ul.pages li{ float:left; margin:0 3px;}
ul.pages li a { float:left; background:url('../img/pages.png') no-repeat;}
ul.pages li.prev a{ width:38px; height:38px;  background-position:0px 0px;} 
ul.pages li.prev a:hover { background-position:0px -40px;}
ul.pages li.next a{ width:38px; height:38px;  background-position:-45px 0px;}
ul.pages li.next a:hover {  background-position:-45px -40px;}
ul.pages li.page a{ margin-top:10px; width:15px; height:15px; background-position:-92px -12px; line-height:38px; text-indent:5px; color:#85847d;} 
ul.pages li.page a:hover,ul.pages li.on_select a { background-position:-93px -34px;}
 .pages .on_select a{ font-weight:bold;}

