/*css document*/
div.main {..........}
div.main { overflow:hidden; width:960px; margin:auto;}
div.search_bar { width:482px; height:94px; margin:auto; background:url('../img/search.jpg') no-repeat;}
div.search_bar input { width:392px; height:27px; margin:23px 0 0 14px; background:none; border:none;}
div.search_bar a { float:right; width:50px; height:50px; margin:11px 11px 0 0 ; background:none; border:none; cursor:pointer;}


div.mid_content { width:100%; padding-top:88px; background:url('../img/shelf.png') 77px 0 no-repeat; }
div.content_box { margin-bottom:90px;}
div.mid_content div.box_demo h3 { float:left; width:200px; height:42px; margin:20px 0 10px -2px; background:url('../img/h3_bg.png') 0px 0px no-repeat; font:14px 微软雅黑; line-height:38px; color:#fff; text-indent:1em;}

div.mid_content table { margin-bottom:50px;}


div.search_results {.........}
div.search_results p { clear:both; margin-bottom:20px; text-indent:2em; font-size:14px; color:#565656;}
div.search_results p a { color:#565656;}
div.search_results p a:hover { color:#000;}
div.search_results table th:nth-child(1),
div.search_results table td:nth-child(1){ width:120px; text-align:center;}
div.search_results table th:nth-child(2),
div.search_results table td:nth-child(2){ width:135px; text-align:center;}
div.search_results table th:nth-child(3),
div.search_results table td:nth-child(3){ width:80px; text-align:center;}
div.search_results table th:nth-child(4),
div.search_results table td:nth-child(4){ width:140px; text-align:center;}
div.search_results table th:nth-child(5),
div.search_results table td:nth-child(5){ width:120px; text-align:center;}
div.search_results table th:nth-child(6),
div.search_results table td:nth-child(6){ width:65px; text-align:center;}
/*定义表格各列的宽度*/


div.footer {.........}
div.footer {float:left; width:100%; height:222px; margin-top:300px; background:url('../img/bottom_bg.jpg') repeat-x;}
div.footer div.safa {width:760px; height:344px; margin:-278px auto 80px; background:url('../img/safa.png') no-repeat;}
div.footer ul { float:right; margin-top:20px; margin-right:20px; font-size:14px; color:#fff;}
div.footer ul li { text-align:right; line-height:24px;}