/*css document*/
div.main {..........}
div.main { overflow:hidden; width:960px; margin:auto;}
div.mid_content { position:relative; width:100%; padding-top:50px;}
div.content_box { margin-bottom:90px;}

div.sign_info {........}
div.sign_info { width:65%; font-size: 14px;}
div.sign_info .join_us { margin:0 0 20px 35px;}
div.sign_info form { width:80%; margin:0 auto; clear: both;margin:30px 0px 30px 210px;}
div.sign_info label { display:block; width:245px; height:30px; margin-bottom:15px; font:14px "微软雅黑",Arial, Helvetica, sans-serif; line-height:30px; text-align:right;}
div.sign_info label input,div.sign_info label select { width:165px; height:28px; margin-left:15px; background:transparent; border:solid 1px #767676; border-radius:4px;}
div.sign_info label div.select_button { float:right; width:167px; margin:0px 0 0 20px;}
div.sign_info label .qu { float:left; width:auto; border:none; margin:0; margin-right:5px;}
div.sign_info label input.quarters { float:left; width:60px; margin:0; font-size:14px; text-align:center; }
div.sign_info .select_button label { float:left; display:inline; width:auto; margin:0 20px 0 0;}
div.sign_info span.notice { position:absolute; left:470px; font-size:12px; color:#a4a4a4;}
div.sign_info span.notice::before { content:" "; position:absolute; top:9px; left:-15px; border:solid 6px #a4a4a4; border-left-color:transparent; border-bottom-color:transparent; border-top-color:transparent;}
div.sign_info span.alert,div.sign_info span.alert::before { color:#ed0d0d; border-right-color:#ed0d0d;}
div.sign_info p.notice { height:30px; font-size:12px; text-indent:150px; line-height:10px; color:#a4a4a4;}

div.sign_info .config_submit { width: 75px; color: #fff; height:35px; border:none; background: url('../img/button_1.png') no-repeat; margin-left:75px; font-size:14px; line-height:35px; text-align:center; cursor:pointer;}
div.sign_info .config_submit:hover { background:url('../img/button_10.png');} 

div.sign_info h1 { font-size: 24px; margin: 0px 0px 30px 45px;}
div.sign_info div {width: 380px; margin: 0px auto; overflow: hidden; }
div.sign_info div span {display: block;float: left; width: 190px; line-height: 50px;}
div.sign_info form h5 {margin-bottom: 20px;}
div.sign_info label>a { color:#130e7a;}
div.sign_info label>a,
div.sign_info label img { margin-right: 19px;vertical-align: middle;}
