/*css document*/
body { background:#cfcaa5 url('../img/bg.jpg') repeat-x;}
div#home_page {  margin:50px auto 30px; width:400px; height:125px; background:url('../img/default.png') no-repeat;}
div#home_page a { float:left; width:400px; height:125px;}


div.main {...........}
div.main { width:807px; margin:auto; }
div.main h3 { height:39px; margin-bottom:20px; background:url('../img/h_bg.png') no-repeat; font:14px "微软雅黑",Arial, Helvetica, sans-serif; line-height:33px; text-indent:1em; color:#ffffff;}


.sign {...........}
div.sign { overflow:hidden; z-index:10; width:500px; height:225px; padding:20px 0; margin:0px auto; background:#f7f7f7; border:solid 1px #b2a88c; box-shadow:0px 10px 10px -5px rgba(0,0,0,0.6),0px 1px 2px 2px rgba(255,255,255,.6) inset,0px -6px 0px 0px #cdcdcd inset; border-radius:8px;}

div.bottom_shadow { position:absolute; z-index:-1; width:498px; height:48px; margin-top:-25px; margin-left:155px;  background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgba(0,0,0,.15)), to(rgba(0,0,0,0))); background-image:-moz-linear-gradient(top,rgba(0,0,0,.15),rgba(0,0,0,0)); background-image:-o-linear-gradient(top,rgba(0,0,0,.15),rgba(0,0,0,0));}

div.sign img.shujia {width:467px; height:69px; margin:0 17px 10px;}
div.sign form { float:left; font-size:14px;}
div.sign form span { margin-left:20px; color:#626262; }
div.sign form label { display:block; width:220px; margin:15px 0; text-align:right;}
div.sign form label input { height:24px; width:140px;}
div.sign form a.confirm { float:right; width:145px; height:30px; background:#e8a126; box-shadow:0 -2px 4px -1px rgba(0,0,0,.6); border-radius:5px; font-size:14px; line-height:28px; text-align:center; color:#fff;}

div.sign a.sign_up { float:right; width:217px; height:157px; background:url('../img/sign_up.jpg') no-repeat;}
.sign .sign_up:hover:after{-webkit-animation:flash 2s linear infinite;-moz-animation:flash 2s linear infinite;-ms-animation:flash 2s linear infinite;animation:flash 2s linear infinite}
.sign .sign_up:after {content:" ";position:absolute;display:block;top:-45px;left:-115px;width:30px;height:247px;background:rgba(255,255,255,.3);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg)}
@-webkit-keyframes flash{100%{left:1000px}}
@-moz-keyframes flash{100%{left:1000px}}
@-ms-keyframes flash{100%{left:1000px}}
@-keyframes flash{100%{left:1000px}}

div.shelf_bg { clear:both; width:100%; height:65px; margin-top:50px; background:url('../img/shelf.png') no-repeat;}
